div.modify_product_choice > form > table {
    font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    margin-left: 5%;
    border: 1px solid black;
}

div.modify_product_choice > form > table th, div.modify_product_choice > form > table td {
    font-size: 15px;
    height: 23px;
    border: 1px solid black;
    text-align: center;
}

div.modify_product_choice > form > table tr:nth-child(even) {
    color: black;
    background-color: lightgrey;
}

div.modify_product_choice > form > table tr:nth-child(odd) {
    color: black;
    background-color: white;
}

div.modify_product_information > p {
    font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    margin-top: 20px;
    margin-left: 5%;
    font-size: 20px;
}

button.modify_product_submit {
    font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 5%;
    width: 100px;
    height: 30px;

    background-color: #2F312F;
    color: #E6E6E6;
    cursor: pointer;
}

button.modify_product_submit:hover {
    background-color: Black;
    color: white;
}

div.modify_product_input > table {
    font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    width: 90%;
    margin-top: 20px;

    border-collapse: collapse;
    margin-left: 5%;
    border: 1px solid black;
    text-align: center;
}

div.modify_product_input > table th, div.modify_product_input > table td {
    font-size: 15px;
    width: 33%;
    height: 23px;
    border: 1px solid black;
    text-align: center;
}

div.modify_product_input > table td {
    padding: 7px;
}

div.modify_product_input > p {
    font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    margin-top: 20px;
    margin-left: 5%;
    font-size: 20px;
}