body {
    padding: 0;
    margin: 0;
    font-family: "Lucida Sans", "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
}

div#banner {
    font-family: "Lucida Sans", "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    height: 60px;
    background-color: #2F312F;
}

div#logoField {
    float: left;
    position: relative;
    left: 10px;
    height: 60px;
    width: 100px;
    background-color: #2F312F;
}
div#logoField > img:hover {
    cursor: pointer;
    color: gray;
}

div#menuField {
    float: left;
    position: relative;
    left: 40px;
    height: 60px;
    width: 150px;
    background-color: #2F312F;
    z-index: 30;
}
div#menuField > button {
    height: 100%;
    width: 80%;
    /*margin-top: 5%;*/
    font-size: 1.2em;
    background-color: #2F312F;
    color: white;
    outline: none;
    border: none;
}
div#menuField > button:hover {
    cursor: pointer;
    color: gray;
}
div#menuField > div#subMenu {
    position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0;
    background: #2F312F;
}

div#menuField > div#subMenu > button {
    display: block;
    width: 120px;
    height: 40px;
    font-size: 0.9em;
    background: #2F312F;
    color: white;
    border: none;
}

div#menuField > div#subMenu > button:hover {
    cursor: pointer;
    color: gray;
}

div#searchField {
    float: left;
    position: relative;
    left: 50px;
    height: 60px;
    width: 250px;
    background-color: #2F312F;
}

div#signInUpField {
    float: right;
    position: relative;
    right: 30px;
    height: 60px;
    width: 150px;
    background-color: #2F312F;
}
div#signInUpField > button {
    height: 100%;
    width: 80%;
    /*margin-top: 5%;*/
    font-size: 1.2em;
    background-color: #2F312F;
    color: white;
    outline: none;
    border: none;
}
div#signInUpField > button:hover {
    cursor: pointer;
    color: gray;
}
div#signInUpField > div#subMenu1 {
    position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0;
    background: #2F312F;
    z-index: 100;
}

div#signInUpField > div#subMenu1 > button {
    display: block;
    width: 120px;
    height: 40px;
    font-size: 0.9em;
    background: #2F312F;
    color: white;
    border: none;
    outline: none;
    z-index: 100;
}

div#signInUpField > div#subMenu1 > button:hover {
    cursor: pointer;
    color: gray;
    outline: none;
    z-index: 100;
}

div#shoppingCartField {
    float: right;
    position: relative;
    right: 10px;
    height: 60px;
    width: 100px;
    background-color: #2F312F;
}
div#shoppingCartField > button {
    background-color: #2F312F;
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 2em;
    color: white;
    outline: none;
}
div#shoppingCartField > button:hover {
    cursor: pointer;
    color: gray;
}

div#signInUpField > button {
    background-color: #2F312F;
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
    color: white;
    outline: none;
}
div#signInUpField > button:hover {
    cursor: pointer;
    color: gray;
}
div#signInUpField > button:focus {
    outline: none;
}

div#searchField > button {
    background-color: #2F312F;
    border: 0;
    height: 100%;
    font-size: 1.5em;
    color: white;
    outline: none;
}
div#searchField > button:hover {
    cursor: pointer;
    color: gray;
}

div#searchField > input {
    background-color: white;
    border: 0;
    width: 200px;
    /*height: 100%;*/
    font-size: 1.1em;
    color: black;
    outline: none;
    border-radius: 6px;
}

div#content {
    position: relative;
    width: 1100px;
    margin-left: 50%;
    left: -550px;
    margin-top: 25px;
    margin-bottom: 25px;
}





div#singleProductFrame {
    position: absolute;
    width: 900px;
    margin-left: 50%;
    left: -450px;
    margin-bottom: 25px;
}

div.productImageFrame {
    position: relative;
    float: left;
    width: 448px;
    height: 448px;
    /*border: 1px solid #393939;*/
    /*background-color: red;*/
}
div.productChoose {
    position: relative;
    float: left;
    width: 450px;
    height: 450px;
    /*background-color: green;*/
}

div.productImageBig {
    position: relative;
    width: 318px;
    height: 318px;
    left: 65px;
    top: 25px;
    border: 1px solid #393939;
}
div.productImageSmall {
    position: relative;
    width: 58px;
    height: 58px;
    left: 195px;
    top: 40px;
    border: 1px solid #393939;
}
div.productInformation {
    position: relative;
    width: 400px;
    height: 210px;
    left: 25px;
    top: 35px;
    vertical-align: middle;
    /*background-color: yellow;*/
}
div.productNumber {
    position: relative;
    width: 400px;
    height: 70px;
    left: 25px;
    top: 50px;
    line-height: 70px;
    vertical-align: bottom;
    /*background-color: white;*/
}
div.productNumber > button {
    position: relative;
    border: none;
    top: 10px;
    background-color: white;
}

div.productNumber > button:focus {
     outline: none;
}

div.productNumber > button:hover {
    cursor: pointer;
    /*outline: none;*/
}

div.productNumber > input {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #393939;
    font-size: 20px;
}
div.productNumber > input:focus {
    outline: none;
}

div.addToCartButton {
    position: relative;
    width: 400px;
    height: 70px;
    left: 25px;
    top: 70px;
    /*background-color: blue;*/
}
div.addToCartButton > button {
    width: 400px;
    height: 70px;
    background-color: #FC461E;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
}
div.addToCartButton > button:hover {
    cursor: pointer;
    background-color: #891515;
}

div.productDescriptionFrame {
    position: relative;
    top: 5px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 870px;
    height: 200px;
    font-size: 18px;
    line-height: 30px;
    vertical-align: middle;
    border: 1px solid #393939;
    border-radius: 5px;
}